<div class="header--clock">

  <script type='text/javascript'>
    $(function() {
      var clock = $('.header--clock').FlipClock({
        clockFace: 'TwelveHourClock'
      });
    })
  </script>
</div>
