<div class="main--clock-container--clock">

  <script type='text/javascript'>
    $(function() {
      var clock = $('.main--clock-container--clock').FlipClock({
        clockFace: 'TwelveHourClock'
      });
    })
  </script>
</div>
