<!DOCTYPE html>
<html>
  <head>
    <title>Punch Clock</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main">
      <div class="main--clock-container">
        <% render "clock" %>
      </div>

      <%= yield %>
      
    </div>
  </body>
</html>
